
.content{
	display: flex;
	flex-direction: column;
}

.content> .search {
	display: flex;
	flex-direction: column;
	gap: 10px;

	flex-grow: 0;
}
.content> .results {
	width: 100%;
	flex-grow: 1;

	display: flex;
	flex-direction: column;
	gap: 15%;
}

.content> .results > .result {
	display: flex;
	flex-direction: row;
	
	gap: 5%;

	overflow: scroll;
}

.content> .results > .result > .image {
	position: sticky;
	left: 0px;
	flex: 0 0 auto;
	width: 250px;
	height: 250px;
	background-color: var(--fg-color-1);
	border-radius: 25px;
}
.content> .results > .result > .tags {
	flex: 1 0 auto;
	height: 250px;

	display: flex;
	flex-flow: row wrap;
	align-content: center;
}

.content> .results > .result > .tags > * {
	flex: 0 1 auto;
	height: min-content;
	margin: 0;
}

.add {
	position: absolute;
	right: 60px;
	bottom: 60px;
	aspect-ratio: 1/1;
	padding: 30px;
}

.add > img {
	aspect-ratio: 1/1;
	width: 60px;
	padding: 20px;
	transition: all 100ms;
}

.add:active > img {
	width: 80px;
	padding: 10px;
}
