
.content{
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.content> .search {
	display: flex;
	flex-direction: column;
	gap: 30px;

	flex-grow: 0;

	justify-content: center;
	align-items: center;
}
.content > .search > input {
	width: 70%;
}
.content > .search > .tags {
	width: 80%;
}
.content> .results {
	width: 100%;
	flex-grow: 1;

	display: flex;
	flex-direction: column;
	gap: 15px;
}

.content> .results > .result {
	display: flex;		
	flex-flow: row nowrap;
	gap: 1em;
	height: 20em;

	
}

.content> .results > .result > .image {
	flex: 0 0 auto;

	aspect-ratio: 1/1;
	height: 100%;

	background-color: var(--fg-color-1);
	border-radius: 25px;
}
.content> .results > .result > .tags {
	flex: 1 1 auto;
	overflow: scroll hidden;

	display: flex;
	flex-flow: column wrap;
	align-items: flex-start;

}

.add {
	position: absolute;
	right: 60px;
	bottom: 60px;
	aspect-ratio: 1/1;
	padding: 30px;
}

.add > img {
	aspect-ratio: 1/1;
	width: 60px;
	padding: 20px;
	transition: all 100ms;
}

.add:active > img {
	width: 80px;
	padding: 10px;
}
