
.content {
	display: flex;
	flex-flow: column nowrap;
	justify-content:center;
	align-items: center;

	width: 100vw;
	height: 100vh;
	overflow: hidden;

	background-color: #DBD3D8;
}

.content > h1 {
	margin-bottom: 1em;
}

.content > button {
	width: 8em;
}
